* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C2C32;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: #0098E3;
}

nav {
    height: 100px;
    width: 100%;
}

ol {
    display: flex;
}

ol li {
    list-style-type: none;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #868588;
}

.navbar ol .items {
    display: flex;
    font-size: 16px;
}

ol li span {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.navbar {
    margin-left: 250px;
    height: 50px;
}

.notification {
    height: 45px;
    width: 100%;
    background-color: #25252B;
}

/* navbar search and download */
.search {
    display: flex;
    background-color: #3D3D42;
    margin-left: 50px;
    width: 200px;
    height: 50px;
}

.search img {
    height: 16px;
    margin-top: 15px;
    margin-left: 14px;
    margin-right: 14px;
}

.search p {
    margin-top: 14px;
    font-size: 14px;
    color: #7a7a7a;
}

.download {
    background-color: #0066B8;
    width: 150px;
    display: flex;
}

.download img {
    height: 16px;
    margin-top: 15px;
    margin-left: 14px;
    margin-right: 14px;

}

.download p {
    margin-top: 12px;
    font-weight: 600;
}

.notification {
    padding-left: 480px;
    padding-top: 8px;
}

/* main body */
.container {
    height: 90%;
    width: 100%;
    display: flex;
}

.textarea {
    height: 40vh;
    width: 39vw;
    margin-top: 120px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 3rem;
}

.text-main-1{
    line-height: 2px;
}

.textarea span p{
    margin-left: 220px;
    line-height: 0px;
} 
.textarea span .redefined{
    margin-left: 245px;
    font-weight: 400;
    line-height: -10%;
}

.screenshot {
    height: 40vh;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 10px;
}

.screenshot img{
    height: 550px;
    width: 700px;
    margin-left: 70px;
    margin-top: 30px;
    box-shadow: #2C2C32;
}

.text-main-1{
    font-size: 18px;
    margin-top: 50px;
    margin-left: 175px;
    color: #7E7C82;
    font-size: 20px;
}

/* text-area button container  */
.textarea-button-container{
    display: flex;
    height: 75px;
    width: 300px;
    margin-left: 220px;
    margin-top: 20px;
}
.textarea-button-container .button{
    font-size: large;
    margin-top: 20px;
    margin-left: 6px;
    background: #0066b8;
    height: 70px;
    width: 285px;
}
.textarea-button-container .button p{
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.textarea-button-container .button small{
    margin-left: 90px;
    font-size: 14px;
}
.textarea-button-container .dropdown {
    height: 70px;
    margin-left: 2px;
    width: 38px;
    margin-top: 20px;
    background: #0066B8;
}
.textarea-button-container .dropdown img{
    height: 25px;
    margin-bottom: 7px;
    margin-left: 4px;
}

.web{
    display: flex;
    height: 35px;
    margin-top: 33px;
    border-radius: 10px;
    margin-left: 228px;
    width: 290px;
    font-size: 13px;
    background-color: #25252B;
}

.web a{
    text-decoration: none;
    font-size: 13px;
    margin-top: 5px;
}



.web span{
    margin-top: 7px;
    margin-left: 32px;
}


.license{
    margin-left: 280px;
    margin-top: 10px;
    color: #7E7C82;
}

.license a{
    text-decoration: none;
}

.license p{
    font-size: 12px;   
}

.container-1{
    height: 17vh;
    display: flex;
    justify-content: center;
    margin-top: 215px;
    width: 100%;
    color: black;
    background: white;
}

.container-1 .item {
    text-align: center;
    height: 15vh;
    width: 220px;
    margin: 0px 20px 0px 20px;
}

.container-1 .item img{
    margin-top: 10px;
    height: 90px;
    width: 150px;
}

.container-2{
    height: 50vh;
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.container-2 img{
    height: 25vh;
}



.container-3{
    display: flex;
    height: 50vh;
    justify-content: start;
    width: 100%;
    background-color: #fff;
}

.container-3 a{
    text-decoration: none;
}

.container-3 .image{
    margin-left: 200px;
    height: 35vh;
}

.container-3 .image img{
    margin-top: 60px;
}

.container-3 .info{
    height: 30vh;
    margin-left: 70px;
}

.container-3 .info div{
    font-size: 30px;
    margin-top: 90px;
    color: black;
}


.container-3 .info .text p{
    font-size: 20px;
    line-height: 40px;
    margin-top: -60px;
}

.container-4{
    background-color: #F5F5F5;
    color: black;
    display: flex;
    height: 50vh;
    justify-content: end;
    width: 100%;
}



.container-4 .image{
    margin-top: 80px;
    margin-right: 150px;
}

.container-4 .info-new {
    display: flex;
    margin-top: 50px;
    margin-top: 90px;
    margin-right: 90px;
    flex-direction: column;
    justify-content: start;
}

.container-4 .info-new div{
    margin-bottom: 50px;
    font-size: 30px;
}

.container-4 .info-new p{
    font-size: 20px;
    line-height: 40px;
}

.container-4 a{
    text-decoration: none;
}


.container-5{
    background-color: #F5F5F5;
    color: black;
    display: flex;
    height: 50vh;
    justify-content: end;
    width: 100%;
}



.container-5 .image{
    margin-top: 50px;
    margin-right: 150px;
}

.container-5 .info-new {
    display: flex;
    margin-top: 50px;
    margin-top: 90px;
    margin-right: 150px;
    flex-direction: column;
    justify-content: start;
}

.container-5 .info-new div{
    margin-bottom: 50px;
    font-size: 30px;
}

.container-5 .info-new p{
    font-size: 20px;
    margin-top: -20px;
    line-height: 40px;
}

.container-5 a{
    text-decoration: none;
}

.container-6 {
    display: flex;
    height: 60vh;
    color: black;
    width: 100%;
    justify-content: center;
    background-color: #F5F5F5;

}

.container-6 .con-6-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;

}

.container-6 .con-6-main h2{
    font-size: 28px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 0%;
    font-weight: 300;
}
.container-6 .con-6-body-1{
    display: flex;
    height: 40px;
    margin-top: 20px;
    width: 50vw;
    justify-content: center;
}

.container-6 .con-6-body-1 a{
    margin: 5px 10px 5px 10px;
}

.con-6-main a{
    margin-top: 20px;
    font-size: 17px;
    text-decoration: none;
}

.con-6-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 40px;
    width: 250px;
    background-color: #0066B8;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.container-7{
    height: 20vh;
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    color: black;
}

.container-7 a{
    text-decoration: none;
}

.con-7-text-1{
    margin-left: 300px;
    margin-top: 60px;
    font-size: 23px;
    font-weight: 500;
}
.con-7-text-1 p{
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 25px;
}
.container-8{
    height: 25vh;
    width: 100%;
    background-color: #F5F5F5;
    color: black;
}

.con-8-text-1{
    margin-left: 630px;
    font-size: 17px;
    font-weight: 500;
}
.con-8-text-1 span{
    margin-top: 50px;
}
.con-8-text-2{
    width: 60vw;
    margin-left: 270px;
    font-size: 14px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}

.con-8-text-2 a{
    text-decoration: none;
}

/* footer */
footer{
    height: 10vh;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}

footer .footer-1{
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: 14px;
    justify-content: space-evenly;
}

.footer-2{
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.footer-2 p{
    margin: 18px;
    font-size: 14px;
}

.container-9{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: #fff;
}

.con-9-1{
    margin-top: 60px;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
}

.con-9-1 img{
    text-align: center;
    height: 100px;
    width: 34%;
}

.con-9-1 .btn-con-9-1 {
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    margin: 15px;
    color: #fff;
    background-color: #0066B8;
}


.btn-con-9-1 pre{
    
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.con-9-1 pre button{
    margin-left: 4px;
    background-color: #0066B8;
    color: #fff;
    border: none;
    padding: 2px;
}

.con-9-text-tags{
    width: 100%;
    height: 3.5vh;
    display: flex;
    
}
.con-9-text-tags .con-9-text {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.con-9-text-tags button{
    border: 0;
    padding: 2px;
    background-color: #0066B8;
    color: #fff;
}

.con-9-text-tags .con-9-button {
    height: 10vh;
    width: 50%;
}

.con-9-linux-button{
    display: flex;
    width: 250px;
}

.con-9-1 .con-9-linux-button .btn-1{
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: -10px;
    text-align: center;
    font-size: larger;
    background-color: #0066B8;
    padding: 10px;
    color: white;
    width: 50%;
}
.con-9-1 .con-9-linux-button .btn-1 pre{
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;

}


